.panel {
    background-color: rgba(0, 0, 0, 0.8);
    height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    spacing: 4px;
    min-width: 0;
}

/* Window List Container */
.window-list-container {
    spacing: 0px;
    min-width: 0;
    padding-left: 0px;
    padding-right: 0px;
}

/* Base Window Button Styling */
.window-button {
    border-width: 1px;
    border-radius: 2px;
    transition-duration: 0s;
    padding: 0;
    margin: 0;
    min-width: 0;
}

/* Window Button Content (hbox) */
.window-button-content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    spacing: 6px;
    min-width: 0;
}

/* Window Button Label */
.window-button-label {
    font-size: 13px;
    width: 140px;
    min-width: 0;
    color: #ffffff;
}


/* Normal window button pseudo-states */
.window-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.window-button:active,
.window-button.dragging,
.window-button.dragging:hover,
.window-button.dragging:active {
    background-color: rgba(255, 255, 255, 0.175);
}


/* Window button focused state */
.window-button.focused{
    background-color: rgba(255, 255, 255, 0.25);
}

.window-button.focused:hover {
    background-color: rgba(255, 255, 255, 0.325);
}

.window-button.focused:active,
.window-button.focused.dragging,
.window-button.focused.dragging:hover,
.window-button.focused.dragging:active  {
    background-color: rgba(255, 255, 255, 0.38125);
}


/* Window button urgent state */
.window-button.urgent {
    background-color: rgba(255, 183, 77, 0.25);
}

.window-button.urgent:hover {
    background-color: rgba(255, 183, 77, 0.325);
}

.window-button.urgent:active,
.window-button.urgent.dragging,
.window-button.urgent.dragging:hover,
.window-button.urgent.dragging:active {
    background-color: rgba(255, 183, 77, 0.38125);
}


/* Window button urgent focused state */
.window-button.urgent.focused {
    background-color: rgba(255, 183, 77, 0.5);
}

.window-button.urgent.focused:hover {
    background-color: rgba(255, 183, 77, 0.55);
}

.window-button.urgent.focused:active,
.window-button.urgent.focused.dragging,
.window-button.urgent.focused.dragging:hover,
.window-button.urgent.focused.dragging:active {
    background-color: rgba(255, 183, 77, 0.625);
}


/* Add a border for all dragging states */
.window-button.dragging,
.window-button.dragging:hover,
.window-button.dragging:active,
.window-button.focused.dragging,
.window-button.focused.dragging:hover,
.window-button.focused.dragging:active,
.window-button.urgent.dragging,
.window-button.urgent.dragging:hover,
.window-button.urgent.dragging:active,
.window-button.urgent.focused.dragging,
.window-button.urgent.focused.dragging:hover,
.window-button.urgent.focused.dragging:active {
    border: 1px solid rgba(255, 255, 255, 0.2);
}


/* Favorites container */
.favorites-container {
    padding-left: 0px;
    padding-right: 0px;
    spacing: 0px;
    min-width: 0;
}

/* Favorite button */
.favorites-button {
    border-width: 1px;
    border-radius: 2px;
    transition-duration: 0s;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 0;
}

/* Normal favorite button pseudo-states */
.favorites-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.favorites-button:active,
.favorites-button.dragging,
.favorites-button.dragging:hover,
.favorites-button.dragging:active {
    background-color: rgba(255, 255, 255, 0.175);
}

/* Add a border for all dragging states */
.favorites-button.dragging,
.favorites-button.dragging:hover,
.favorites-button.dragging:active {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Tooltip styling */
.panel-window-list-tooltip {
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 13px;
    color: white;
}
